<section class="section">
  <div class="container">
    <div class="section__header">
      <h2 class="section__headline section__headline_left">Продукты</h2>

      <a href="/product?act=add" class="button fl_r">Добавить</a>
    </div>

    <div class="product__list">

      <div class="product">
        <div class="product__cover">
          <img src="/img/product/1.png" class="product__img">
        </div>
        <div class="product__info">
          <a href="" class="product__name">Pen</a>
          <p class="product__cost">100 сом</p>
        </div>
      </div>
      
    </div>

  </div>
</section>