<!-- hero -->
<section class="hero hero_full hero_index">
  <div class="hero__content">
    <div class="container">
      <h2 class="hero__headline">
        <b>Покупай все</b></br>в один клик
      </h2>
      <a href="#" class="button button_more">Регистрация</a>
    </div>
  </div>
</section>
<!-- hero end -->

<!-- section for business -->
<section class="section bac_blue_d">
  <div class="container">
    <div class="fb__wrap">
      <div class="flex">
        <div class="fb__cover">
          <img src="/img/lp/index/fb_cover.jpg" alt="" class="fb__img">
        </div>
      </div>
      <div class="flex">
        <div class="fb__content">
          <h2 class="section__headline color_white">Lorem ipsum amet consectetur</h2>
          <p class="section__descrip color_white">Nostrum, eligendi iusto qui repellat culpa nemo debitis consequuntur ullam accusantium mollitia eius id consequatur quia quidem delectus voluptas, velit amet reprehenderit?</p>
          <a href="/shop/registry" class="button">Регистрация</a>
        </div>
      </div>
    </div>
  </div>
</section>